<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"

        cacheTokens="true"
        colors="true"

        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"

        forceCoversAnnotation="false"

        processIsolation="false"

        stopOnError="true"
        stopOnFailure="true"
        stopOnIncomplete="false"
        stopOnSkipped="false"

        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"

        verbose="false"

        bootstrap="./tests/bootstrap.php">

    <php>
        <server name="KERNEL_DIR" value="./tests/app" />
    </php>

    <testsuites>
        <testsuite name="tvi monitor bundle test suite">
            <directory suffix="Test.php">./tests/Test</directory>
            <directory suffix="Test.php">./src/Check</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>./src</directory>
            <exclude>
                <directory>./src/Resources</directory>
                <directory suffix="Test.php">./src/Check</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>

        <!--<log type="coverage-text" target="Php://stdout"/>-->

        <!--<log type="coverage-crap4j" target="./build/logs/crap4j.xml"/>-->

    </logging>
</phpunit>
