/* common */
.check-result th, .check-result td  {
    border: 1px solid #959595 !important;
    padding: 1px 8px 1px 4px !important;
}


.check-result .group {
    background: #b0b0b0;
    color: white;
}

.check-result .controll {
    width: 20px;
    border-left: none;
    padding: 0px 1px 2px 1px  !important;
}

.check-result .controll .lock {
    padding:0px !important;
    margin: 0px 0px 0px 7px !important;
    vertical-align: middle !important;
}

.check-result .controll .time {
    margin-left:7px;
    height: 16px;
    width:39px
}

.check-result .controll .refresh {
    padding: 0.01rem .5rem;
}

.check-result .head .data {
    border-right: none;
}

/* head */
.check-result .head .field {
    background: #b0b0b0;
    color: white;
}

.check-result .head .label  {
    width: 20%;
}

/* check */
.check-result .data {
    border-right: none !important; ;
}

.check-result .controll {
    border-left: none !important; ;
}
